@model CPAT.Models.Courses
@{
    ViewData["Title"] = "Create";
}

<br />

<h2 class="text-info">Add Course</h2>

<div class="alert-danger text-center">
    @ViewBag.msg
</div>

<form method="post" asp-action="Create">
    <div class="p-4 border rounded">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-2 text-right">
                <label asp-for="CourseID"></label>

            </div>
            <div class="col-4">
                <input asp-for="CourseID" class="form-control" />
            </div>
            <span asp-validation-for="CourseID" class="text-danger"></span>
            <div class="col-2 text-right">
                <label asp-for="CourseName"></label>

            </div>
            <div class="col-4">
                <input asp-for="CourseName" class="form-control" />
            </div>
            <span asp-validation-for="CourseName" class="text-danger"></span>
        </div>



        <br />

        <div class="form-group row">

            <div class="col-2 text-right">
                <label asp-for="EstSeason"></label>

            </div>
            <div class="col-4">
                <select asp-for="EstSeason" class="form-control">
                    <option value="3">Fall Only</option>
                    <option value="4">Fall & Spring</option>
                    <option value="1">Spring Only</option>
                    <option value="5">Fall, Spring, & Summer</option>
                    <option value="2">Summer Only</option>
                    <option value="6">Spring & Summer</option>
                    <option value="7">Fall & Summer</option>
                    <option class="text-danger" value="0">Not Currently Offered</option>
                </select>
            </div>
            <span asp-validation-for="EstSeason" class="text-danger"></span>
            <div class="col-2 text-right">
                <label asp-for="CreditHours"></label>

            </div>
            <div class="col-4">
                <input type="number" max="4" min="0" asp-for="CreditHours" class="form-control" />
            </div>
            <span asp-validation-for="CreditHours" class="text-danger"></span>

        </div>
        <br />

        <div class="form-group row">
            <div class="col-2 text-right">
                <label asp-for="DetailsLink"></label>

            </div>
            <div class="col-10">
                <input asp-for="DetailsLink" class="form-control" />
            </div>
            <span asp-validation-for="DetailsLink" class="text-danger"></span>
        </div>
        <br />

        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Create" />
            <a asp-action="Index" class="btn btn-success">Back to List</a>
        </div>
    </div>
</form>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}