@model CPAT.Models.Courses
@{
    ViewData["Title"] = "Delete";
}

<br />

<h2 class="text-info">Delete Course</h2>

<form method="post" asp-action="Delete">
    <div class="p-4 border rounded">
        
        
        <div class="form-group row">
            <div class="col-2 text-right">
                <label asp-for="CourseID"></label>

            </div>
            <div class="col-3">
                <input asp-for="CourseID" disabled class="form-control" />
            </div>
            
            <div class="col-2 text-right">
                <label asp-for="CourseName"></label>

            </div>
            <div class="col-5">
                <input disabled asp-for="CourseName" class="form-control" />
            </div>
            
        </div>

        <br />

        <div class="form-group row">
            <div class="col-2 text-right">
                <label asp-for="Description"></label>

            </div>
            <div class="col-10">
                <textarea disabled asp-for="Description" class="form-control"></textarea>
            </div>
            
        </div>

        <br />

        <div class="form-group row">
            <div class="col-2 text-right">
                <label asp-for="CreditHours"></label>

            </div>
            <div class="col-2">
                <input disabled type="number" asp-for="CreditHours" class="form-control" />
            </div>
            
            <div class="col-3 text-right">
                <label asp-for="SeasonAvailability"></label>

            </div>
            <div class="col-5">
                <select disabled asp-for="SeasonAvailability" class="form-control">
                    <option value="1">Fall Only</option>
                    <option value="2">Fall and Spring</option>
                    <option value="3">Spring Only</option>
                    <option value="4">Fall, Spring, and Summer</option>
                    <option value="5">Summer Only</option>
                    <option value="0">Not Currently Offered</option>
                </select>
            </div>
            
        </div>

        <br />

        <div class="form-group">
            <input type="submit" class="btn btn-danger" asp-route-id="@Model.Id" value="Delete" />
            <a asp-action="Index" class="btn btn-success">Back to List</a>
        </div>
    </div>
</form>
