@model CPAT.Models.Courses
@{
    ViewData["Title"] = "Details";
}

<br />

<h2 class="text-info">Course Details</h2>


<div class="p-4 border rounded">
    <div class="form-group row">
        <div class="col-2 text-right">
            <label asp-for="CourseID"></label>
        </div>
        <div class="col-4">
            <input asp-for="CourseID" readonly class="form-control" />
        </div>

        <div class="col-2 text-right">
            <label asp-for="CourseName"></label>
        </div>
        <div class="col-4">
            <input readonly asp-for="CourseName" class="form-control" />
        </div>
    </div>
    <br />

    <div class="form-group row">
        <div class="col-2 text-right">
            <label asp-for="EstSeason"></label>
        </div>
        <div class="col-4">
            <div class="form-control">
                @switch (Model.EstSeason)
                {
                    case Season.FaSp:
                        Write("Fall and Spring");
                        break;
                    case Season.FaSpSu:
                        Write("Fall, Spring, and Summer");
                        break;
                    case Season.SpSu:
                        Write("Spring and Summer");
                        break;
                    case Season.SuFa:
                        Write("Summer and Fall");
                        break;
                        
                    default:
                        Write(Model.EstSeason);
                        break;
                }
                </div>
            </div>
            <div class="col-2 text-right">
                <label asp-for="CreditHours"></label>
            </div>
            <div class="col-4">
                <input readonly type="text" asp-for="CreditHours" class="form-control" />
            </div>


        </div>
        <br />
        <div class="form-group row">
            <div class="col-2 text-right">
                <label asp-for="DetailsLink">Details</label>
            </div>
            <div class="col-6">
                <a href="@Model.DetailsLink" class="card-link" target="_blank">UNF Link to Course Details</a>
            </div>
        </div>

        <br />

        <div class="form-group">
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
            <a asp-action="Index" class="btn btn-success">Back to List</a>
        </div>
    </div>
