@model CPAT.Models.MajorRequirements
@{
    ViewData["Title"] = "Delete";
}

<br />

<h2 class="text-info">Delete Major</h2>

<form method="post" asp-action="Delete">
    <div class="p-4 border rounded">
        
        <div class="form-group row">
            <div class="col-2 text-right">
                <label asp-for="MajorName"></label>

            </div>
            <div class="col-3">
                <input disabled asp-for="MajorName" class="form-control" />
            </div>
            
            <br />
            <br />

            <div class="form-group">
                <input type="submit" class="btn btn-danger" asp-route-id="@Model.Id" value="Delete" />
                <a asp-action="Index" class="btn btn-success">Back to List</a>
            </div>
        </div>
    </div>
</form>